footer.footer
  .container
    .footer__inner
      .footer__logo-textual
        img(src="img/logo-text.svg", alt="Кэт Энерджи")
      .footer__socials-wrapper
        .footer__socials
          .footer__social
              a(href="#").footer__social-link
                +svg('vk')
          .footer__social
              a(href="#").footer__social-link
                +svg('insta')
          .footer__social
              a(href="#").footer__social-link
                +svg('fb')
      .footer__authorship
        a(href="https://htmlacademy.ru/").footer__authorship-link
          .footer__authorship-text HTML Academy
          +svg('htmlacademy', 'footer__authorship-icon')