.icon-cat-pro {
	width: 134px;
	height: 56px;
}

.icon-cat-slim {
	width: 70px;
	height: 97px;
}

.icon-checkmark {
	width: 21.1px;
	height: 15.51px;
}

.icon-cross {
	width: 18px;
	height: 18px;
}

.icon-email {
	width: 17px;
	height: 13px;
}

.icon-fb {
	width: 13.52px;
	height: 27.75px;
}

.icon-gift {
	width: 55.48px;
	height: 59.95px;
}

.icon-htmlacademy {
	width: 154.38px;
	height: 195.33px;
}

.icon-insta {
	width: 23px;
	height: 23px;
}

.icon-menu {
	width: 24px;
	height: 18px;
}

.icon-phone {
	width: 20px;
	height: 20px;
}

.icon-plus {
	width: 62px;
	height: 62px;
}

.icon-right-arrow {
	width: 24.2px;
	height: 11px;
}

.icon-vk {
	width: 30px;
	height: 15.76px;
}

